## Created by Dmitry Miroshnichenko 01-12-2012. Copyright Mail.Ru Group 2012. All
## rights reserved. 
<html>
    <head>
        <meta name="decorator" content="admin"/>
        <title>$i18n.getText("mailru.image.loader.admin.tab.page.caption")</title>
    </head>
    <body>
    #if($action.hasAdminPermission())
        <h2 class="margin: 12px;">$action.getText("mailru.image.loader.admin.tab.title")</h2>
		<h5 class="margin: 12px;">$action.getText("mailru.image.loader.admin.label.issuetab")</h5>
        <table width="100%" class="grid aui">
            <thead class="jiraformheader">
                <tr>
                    <td width="15%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.project")</b></td>
                    <td width="15%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.issuetype")</b></td>
                    <td width="30%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.icon")</b></td>
                    <td width="40%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.action")</b></td>
                </tr>
            </thead>
            <tbody>
            #foreach($projData in $projIssueTypes.keySet())
				#foreach($issueTypeData in $projIssueTypes.get($projData))
                <tr>
                    <td width="15%" class="jiraformbody">
                        $projData.name #if($projData.description) - $projData.description #end
                    </td>
                    <td width="15%" class="jiraformbody">
                        $issueTypeData.name
                    </td>
                    <td width="30%" class="jiraformbody">
                        <img alt="" height="auto" width="auto" src="$action.getBaseUrl()/plugins/servlet/mailru/imageloader/issue?projectname=$projData.name&issuetypename=$issueTypeData.name">
                    </td>
                    <td width="40%" class="jiraformbody">
                        <form id="image-loader-$projData.key$issueTypeData.name" name="image-load-form" action="$action.getBaseUrl()/plugins/servlet/mailru/imageloader/issue?projectname=$projData.name&issuetypename=$issueTypeData.name" method="post" enctype="multipart/form-data">
                            <input type="file" name="image-file">
                            <input type="submit" value="$i18n.getText("mailru.image.loader.admin.tab.table.button.change")">
                        </form>
                    </td>
                </tr>
				#end
            #end
            </tbody>
        </table>
		<h5 class="margin: 12px;">$action.getText("mailru.image.loader.admin.label.projecttab")</h5>
		<table width="100%" class="grid aui">
            <thead class="jiraformheader">
                <tr>
                    <td width="15%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.project")</b></td>
					<td width="15%"></td>
                    <td width="30%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.icon")</b></td>
                    <td width="40%"><b>$i18n.getText("mailru.image.loader.admin.tab.table.header.action")</b></td>
                </tr>
            </thead>
			<tbody>
			#foreach($projData in $projIssueTypes.keySet())
			<tr>
                    <td width="15%" class="jiraformbody">
                        $projData.name #if($projData.description) - $projData.description #end
                    </td>
					<td width="15%"></td>
                    <td width="30%" class="jiraformbody">
                        <img alt="" height="auto" width="auto" src="$action.getBaseUrl()/plugins/servlet/mailru/imageloader/issue?projectname=$projData.name&issuetypename=">
                    </td>
                    <td width="40%" class="jiraformbody">
                        <form id="image-loader-$projData.key" name="image-load-form" action="$action.getBaseUrl()/plugins/servlet/mailru/imageloader/issue?projectname=$projData.name&issuetypename=" method="post" enctype="multipart/form-data">
                            <input type="file" name="image-file">
                            <input type="submit" value="$i18n.getText("mailru.image.loader.admin.tab.table.button.change")">
                        </form>
                    </td>
                </tr>
			#end
            </tbody>
			</table>
		
    #else
        <div class="errorArea">$action.getText("mailru.image.loader.admin.error.permissions")</div>
    #end
    </body>
</html>
